<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2023年度 音楽と展覧の会</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'main/css/destyle.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
        <link rel="stylesheet" href="./javascript/main.js">
        <link rel="stylesheet" href="{% static 'main/css/base.css'%}">
        <link rel="icon" href="{% static 'main/images/favicon.png' %}"> <!-- ファビコン -->
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
        {% block extra_style %}{% endblock %}
    </head>
    <body>
    {% block header %}
    <header class="header"> <!-- ヘッダー　スマホ版はハンバーガーメニュー -->
        <nav class="header__nav header_pc">
            <a href="{% url 'home' %}"   class="header__nav_link header_pc">ホーム</a>
            <a href="{% url 'club'%}"    class="header__nav_link header_pc">文化部・同好会</a>
            <a href="{% url 'music'%}"   class="header__nav_link header_pc">音楽会</a>
            <a href="{% url 'map'%}"     class="header__nav_link header_pc">校内図</a>
            <a href="{% url 'access' %}" class="header__nav_link header_pc">アクセス</a>
            <a href="{% url 'news' %}"   class="header__nav_link header_pc">お知らせ</a>
            <a href="{% url 'gallery'%}" class="header__nav_link header_pc">ギャラリー</a>
            <a href="{% url 'space' %}"  class="header__nav_link header_pc">空白</a>
        </nav>
        
        <div id="hamburgermenu">
            <div id="menu-toggle" class="hamburgermenu__icon material-icons"><img src="{% static 'main/images/icon_menu.svg' %}" class="header_sp"></div>
            <nav class="hamburgermenu__nav">
            <a href="{% url 'home' %}"   class="header__nav_link header_sp">ホーム</a>
            <a href="{% url 'club'%}"    class="header__nav_link header_sp">文化部・同好会</a>
            <a href="{% url 'music'%}"   class="header__nav_link header_sp">音楽会</a>
            <a href="{% url 'map'%}"     class="header__nav_link header_sp">校内図</a>
            <a href="{% url 'access' %}" class="header__nav_link header_sp">アクセス</a>
            <a href="{% url 'news' %}"   class="header__nav_link header_sp">お知らせ</a>
            <a href="{% url 'gallery'%}" class="header__nav_link header_sp">ギャラリー</a>
            <a href="{% url 'space' %}"  class="header__nav_link header_sp">空白</a>

            </nav>
            <div id="mask" class="hamburgermenu__mask"></div>
        </div>
    </header>
    {% endblock %}
    {% block content %}

    {% endblock %}{# 各ページのメイン要素用ブロック #}
    {%block footer %}
    <footer class="footer">
        <p>甲陽学院中学校</p>
        <p>BeEn同好会</p>
        <p>3E 森田陽風 木村壮一郎</p> 
    </footer>
    <script src="{% static 'main/javascript/main.js' %}"></script>

    {% endblock %}
    {% block extra_js %}{% endblock %}{# 追加 JavaScript 用ブロック #}
    </body>
</html>