{% extends "main/base.html" %}{# 継承するテンプレートを指定 #}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/club.css' %}">
{% endblock %}

{% block content %}
  {% for club in clubs %}
  <div class="container">
    <div class="item">
      <img src="{{ club.image.url }}">
      <div class="club_names">{{ club.name}}</div>
    </div>
  </div>

  <!-- <section id="club_info" class="club_info">
    <div class="section__title">
        <h2>部活紹介</h2>
        <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/parallelogram_small.93d6911827b6.svg">
    </div>
    

    <div id="club_info-1" class="club_info__content club_info__content--left">
    <div class="club_info__thumbnail__wrapper">
        <img class="club_info__thumbnail" src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/2022-04-29.481729bb0acd.jpg">
    </div>
    <div class="club_info__detail">
        <h3 class="highlight--green">化学部</h3>
        <p>京都大学の向かいに構え、2階には運営会社の株式会社DeMiAがあるBeEngineerの開発拠点・総本山です。中高生と講師の歳が近く、親しみやすい雰囲気が特徴です。</p>
        <p class="club_info__link">クリックして部活の詳細を見る</p>
    </div>
    <div class="club_info__mask"></div>
    </div>

    <div id="club_info-2" class="club_info__content club_info__content--right">
    <div class="club_info__thumbnail__wrapper">
        <img class="club_info__thumbnail" src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/umeda_img.ec2914e683f9.jpg">
    </div>
    <div class="club_info__detail">
        <h3 class="highlight--yellow">物理部</h3>
        <p>大阪大学を中心とした大学生スタッフが在籍し、手厚くサポートします。梅田の駅近くにあり、好アクセス・夜も安心です。</p>
        <p class="club_info__link">クリックして部活の詳細を見る</p>
    </div>
    <div class="club_info__mask"></div>
    </div>

    <div id="club_info-3" class="club_info__content club_info__content--left">
    <div class="club_info__thumbnail__wrapper">
        <img class="club_info__thumbnail" src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/tokyo_kamiyacho.82485a1c6d3a.jpg">
    </div>
    <div class="club_info__detail">
        <h3 class="highlight--green">生物部</h3>
        <p>2023年夏に、BeEngineerが東京に初進出した新規開校の校舎です。東京タワーのそばに校舎を構え、日本経済の中心で最先端のIT教育を実施していきます。</p>
        <p class="club_info__link">クリックして部活の詳細を見る</p>
    </div>
    <div class="club_info__mask"></div>
    </div>

    <div id="club_info__modal" class="club_info__modal" style="opacity: 0;">
    <div class="club_info__modal__image">
        <img id="club_image" src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/A7303575.cc20c7fa5152.jpg" style="opacity: 1;">
        <div class="club_info__modal__image__list">
            <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/A7303575.cc20c7fa5152.jpg" style="display: block;">
            <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/2022-04-29.481729bb0acd.jpg" style="display: block;">
            <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_3117.fe2ecb96cc2d.JPG" style="display: block;">
            <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_3133.ebf6549059ee.JPG" style="display: block;">
            <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_0685.7d055653f235.JPG" style="display: block;">
            <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_0920.41e715a693c5.JPG" style="display: block;">
            <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_0143.4fcbb828bf97.JPG" style="display: block;">
        </div>
    </div>
    <div class="club_info__modal__detail">
        <h3 id="club_name" class="highlight--green">化学部</h3>
        <p id="club_explanation">京都大学の向かいに構え、2階には運営会社の株式会社DeMiAがあるBeEngineerの開発拠点・総本山です。京都大学での学びや受験経験、エンジニアとしての経験など、京大本校ならではのことを伝えていきます。歳の近い講師が授業を行い、親しみやすい雰囲気が特徴です。</p>
        <a id="club_leader" >都築</a>
        <p id="club_info__modal__close" class="club_info__modal__close">✖ close</p>
    </div>
    </div>

    <script>
    var dataList = {
        1: [
            "化学部", // 校舎名
            "京都大学の向かいに構え、2階には運営会社の株式会社DeMiAがあるBeEngineerの開発拠点・総本山です。京都大学での学びや受験経験、エンジニアとしての経験など、京大本校ならではのことを伝えていきます。歳の近い講師が授業を行い、親しみやすい雰囲気が特徴です。", // 校舎紹介文
            "", // 住所
            "", // GoogleMapリンク
            ``, // GoogleMapのタグ
            "", // 講師ページへのリンク
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/A7303575.cc20c7fa5152.jpg", // 画像2
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/2022-04-29.481729bb0acd.jpg", // 画像1
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_3117.fe2ecb96cc2d.JPG", // 画像3
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_3133.ebf6549059ee.JPG", // 画像4
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_0685.7d055653f235.JPG", // 画像5
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_0920.41e715a693c5.JPG", // 画像6
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_0143.4fcbb828bf97.JPG", // 画像7
        ],
        2: [
            "物理部", // 校舎名
            "大阪大学を中心とした大学生スタッフが在籍し、手厚いサポートで共に学んでいきます。大学の情報などプログラミング以外の学びも提供します。また、大阪梅田の駅近くに構え、好アクセス・夜も安心なのも特徴です。", // 校舎紹介文
            "", // 住所
            "", // GoogleMapリンク
            "", // GoogleMapのタグ
            "", // 講師ページへのリンク
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_1402.a4f1096b15f2.JPG", // 画像3
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/IMG_1399.53a0df072db6.JPG", // 画像4
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/umeda_img.ec2914e683f9.jpg", // 画像5
            "", // 画像6
            "", // 画像7
            "", // 画像1
            "", // 画像2
        ],
        3: [
            "生物部", // 校舎名
            "2023年夏に、BeEngineerが東京に初進出した新規開校の校舎です。東京タワーのそばに校舎を構え、日本経済の中心で最先端のIT教育を実施していきます。", // 校舎紹介文
            "", // 住所
            "", // GoogleMapリンク
            ``, // GoogleMapのタグ
            "", // 講師ページへのリンク
            "https://d33whrdjw5ofau.cloudfront.net/static/main/jpg/tokyo_kamiyacho.82485a1c6d3a.jpg",
            "",
            "",
            "",
            "",
            "",
            "",
        ],
        // 0: [ // 校舎コード
        //     "", // 校舎名
        //     "", // 校舎紹介文
        //     "", // 住所
        //     "", // GoogleMapリンク
        //     "", // GoogleMapのタグ
        //     "", // 講師ページへのリンク
        //     "", // 画像1
        //     "", // 画像2
        //     "", // 画像3
        //     "", // 画像4
        //     "", // 画像5
        //     "", // 画像6
        //     "", // 画像7
        // ],
    };
    </script>
    <script src="https://d33whrdjw5ofau.cloudfront.net/static/main/js/main/lp_club.9e82a343291a.js"></script>

    </section> -->
  {% endfor %}
{% endblock %}
