{% extends "main/base.html" %}{# 継承するテンプレートを指定 #}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/club.css' %}">
{% endblock %}

{% block content %}
<div class="club">
  <div class="club__list-item">
    {% for club in clubs %}
    <div class="container">
      <a href="{% url 'club__detail' club.pk %}">
        <div class="item">
          {% if club.image %}
            <img src="{{ club.image.url }}" class="club__image"/>
          {% else %}
            <img src="{% static 'main/images/no_image.png' %}" class="club__image"/>
          {% endif %}
        </div>
        <p class="club_names">{{ club.name}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
