{% extends "main/base.html" %}{# 継承するテンプレートを指定 #}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" >
<link rel="stylesheet" href="{% static 'main/css/swiper.css' %}">
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

{% endblock %}

{% block content %}{# index ページの中身を記述 #}

    <main class="main"> <!-- メイン -->
        
        <!-- swiper.js-->
        <div class="swiper mySwiper" id="swiper">
            <div class="swiper-wrapper" id="swiper-wrapper">
                <div class="swiper-slide" id="swiper-slide">
                    <img src="{% static 'main/images/swiper/20231005_142604.jpg'%}" />
                </div>
                <div class="swiper-slide" id="swiper-slide">
                    <img src="{% static 'main/images/swiper/20231005_145234.jpg'%}" />
                </div>
                <div class="swiper-slide" id="swiper-slide">
                    <img src="{% static 'main/images/swiper/20231005_145559.jpg'%}" />
                </div>
                <div class="swiper-slide" id="swiper-slide">
                    <img src="{% static 'main/images/swiper/20231005_145712.jpg'%}" />
                </div>
                <div class="swiper-slide" id="swiper-slide">
                    <img src="{% static 'main/images/swiper/修正20231005_145338[77].jpg'%}" />
                </div>
            </div>
            
        </div>
        <div id="swiper-mask" class="swiper swiper-mask"></div>
        <div id="swiper-hide-mask" class="swiper-hide-mask"></div>

        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        

        <section class="main__cowntdown space"> <!-- カウントダウン（Javascript） -->
            <p id="school_name"><strong>甲陽学院中学校</strong></p>
            <p>音楽と展覧の会当日まで</p>
            <div class="main__cowntdown__day">
                <p class="main__cowntdown__day_will">あと</p>
                <!-- <h1 class="main__cowntdown__day_num" id="day"></h1> -->
                <p class="main__cowntdown__day__container">
                    <span id="day" class="main__cowntdown__day__container_num"></span>
                    日
                    <span id="hour" class="main__cowntdown__day__container_num"></span>
                    時間
                    <span id="min" class="main__cowntdown__day__container_num"></span>
                    分
                    <span id="sec" class="main__cowntdown__day__container_num"></span>
                    秒
                </p>
                <div class="container">
                    <div class="box">
                            <div class="clock"></div>
                    </div>
                </div>
                <!-- <p class="main__cowntdown__day_txt">日</p> -->
            </div>
        </section>
        <article>
        <h2 class="pre_theme">今年のテーマは</h2>
        <h2 class="theme">  飛躍</h2>    
        </article>
        <article class="main__article space"> 
            <h2 class="slideContsL slideConts" id="info">お知らせ</h2>
            <p class="slideContsL slideConts">現在Webページ開発中です!</p>
        </article>
        
        <article>
            <h2>音展委員</h2>
            <div class="committee">
                <p>音展委員長:正木</p>
                <p>受付・案内:中村</p>
                <p>音楽会:小林</p>
                <p>放送委員会:佐野</p>
                <p>図書委員会:田中</p>
                <p>1年合宿展示:秋山</p>
                <p>体育館アトラクション:多々納</p>
                <p>光庭モニュメント:矢守</p>
                <p>キャップアート:荒井</p>
                <p>ガラスブロック装飾:鵜川</p>
                <p>ウォータークーラー装飾:田中</p>
                <p>休憩室アンケート:土屋</p>
                <p>ピタゴラスイッチ:加藤</p>
                <p>クイズ:黒瀬</p>
                <p>PR動画:吉井</p>
            </div> 

        </article>
    </main>
{% endblock %}
{% block extra_js %}{# 追加 JavaScript 用ブロック #}

    <!-- <script src="{% static 'main/javascript/main.js' %}"></script> -->
    
{% endblock %}   