h1 {
    position:center center;
}

body {
    position: center;
    background:linear-gradient(90deg, rgba(22, 135, 237, 0.25), rgba(20, 55, 90, 0.9)) ,url(tom-winckels-I7oLRdM9YIw-unsplash.jpg);
    background-size: cover;
    transition: opacity .6s ease;
}