body {
    position: relative;
    height: 100%;
  }

  body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

.header__nav {
  padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.49);
}