@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

* {
    box-sizing: border-box;
    font-weight: normal;
  }

.photo_names {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateY(-10%) translateX(-60%);

}

.image {
    position: absolute;
    right: 50;
    width: 200%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translateY(-52%) translateX(10%);
}

body {
    background-color: rgba(233, 247, 242, 0.5);
    font-family: "Roboto Mono";
    padding: 1em;
}

.container {
    width: 20vw;
    height: max(30vw, 30vh);
    display: initial;
}

.item {
    position: relative;
    width: 18vw;
    height: 18vw;
    margin: 15px auto;
}

.container p {
    margin-left: 1vw;
}

.photo_names {
    font-size: larger;
    font-weight: normal;
}