@charset "UTF-8";
.sp {
  display: none;
}

.header_sp {
  display: none;
}

@font-face {
  font-family: ZenMaruGothic-Medium;
  src: local(ZenMaruGothic-Medium) url("font/ZenMaruGothic-Medium.ttf");
}
@font-face {
  font-family: ZenMaruGothic-Regular;
  src: local(ZenMaruGothic-Regular) url("font/ZenMaruGothic-Regular.ttf");
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: rgba(253, 252, 252, 0.264);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  z-index: 5;
}

h2 {
  text-align: left;
  font-size: 32px;
}

.pre_theme {
  position: relative;
  left: 0;
  right: 0;
}

.theme {
  font-size: 100px;
  position: absolute;
  left: 170px;
}

.space {
  margin-top: 100px;
  margin-bottom: 100px;
}

.header {
  padding-bottom: 5px;
}
.header__nav_link {
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  font-size: 16px;
  padding-bottom: 5px;
  position: relative;
  font-family: ZenMaruGothic-Medium;
}
.header__nav_link::before {
  background: #000000;
  content: "";
  width: 100%;
  height: 1.7px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.header__nav_link:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}

#hamburgermenu {
  position: relative;
  width: 40px;
  height: 40px;
}

/* 要素のサイズ計算を容易にする */
#hamburgermenu,
#hamburgermenu * {
  box-sizing: border-box;
}

/* メニューアイコン */
.hamburgermenu__icon {
  margin: 8px;
}

.hamburgermenu__icon:hover {
  cursor: pointer; /* アイコンにマウスカーソルを合わせるとカーソルのアイコンを変える */
}

/* ナビゲーション */
.hamburgermenu__nav {
  position: fixed;
  width: 300px;
  max-width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 8px;
  background-color: #fff;
  overflow-y: auto; /* ナビゲーションが長い場合にスクロールできるようにする */
  transition: 250ms; /* ナビゲーションのスライドイン/アウトにかける秒数 */
  transform: translateX(-100%); /* 横幅と同じ分だけ左側に移動させる */
  z-index: 2; /* ハンバーガーメニューの要素の中では一番上に表示されるようにする */
}

#hamburgermenu.active .hamburgermenu__nav {
  transform: translateX(0);
}

/* マスク */
.hamburgermenu__mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.264);
  visibility: hidden;
  z-index: 1;
}

#hamburgermenu.active .hamburgermenu__mask {
  visibility: visible;
}

.main {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}
.main__cowntdown__day {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.main__cowntdown__day_will {
  font-size: 33px;
}
.main__cowntdown__day__container #day {
  font-size: 60px;
}
.main__cowntdown__day__container #hour {
  font-size: 50px;
}
.main__cowntdown__day__container #min {
  font-size: 30px;
}
.main__cowntdown__day__container #sec {
  font-size: 20px;
}

@media screen and (max-width: 648px) {
  .header_pc {
    display: none;
  }
  .header_sp {
    display: block;
  }
  .header__nav_link::before {
    content: "";
    width: 0%;
    height: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}
@media screen and (max-width: 420px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  .space {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .main {
    padding-left: 50px;
    padding-right: 50px;
  }
}
#wrap {
  position: relative;
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
}

.slideConts {
  height: 200px;
  margin: 40px auto;
  transition: 1s;
}

.slideContsL {
  transform: translate(-800px, 0);
}

.slideContsL.show {
  transform: translate(0px, 0) !important;
}

p.slideContsL.slideConts.show {
  font-size: large;
}

.swiper {
  position: fixed;
  margin-left: -100px;
  margin-right: -100px;
  width: calc(100% + 200px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -4;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
}
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
  background-color: rgba(255, 255, 255, 0.264);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  backface-visibility: hidden;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=index.css.map */