section .bar_all {
  font-size: 14px;
  padding: 10px 30px 10px;
}
section .bar_all:hover {
  background-color: rgba(0, 128, 0, 0.07);
}
section .bar__east {
  display: flex;
  flex-direction: column;
}
section .bar__west_btn {
  border-bottom: solid 1px;
  border-top: solid 1px;
  border-right: solid 1px;
}
section .bar_bor1 {
  border: solid 1px;
}
section .bar_bor2 {
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
}
section .map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .map_img {
  width: 60vw;
}

.bar__content-active {
  background-color: rgba(0, 128, 0, 0.2);
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.map__content_button {
  font-size: 14px;
  padding: 10px 30px 10px;
  border: solid 1px;
}
.map__content_button:hover {
  background-color: rgba(0, 128, 0, 0.07);
}
.map__content__area {
  position: relative;
}
.map__content__area_img {
  width: 80vw;
}
.map__content__area_txt1 {
  position: absolute;
  color: black;
  top: 14%;
  left: 30.2%;
}
.map__content__area_txt2 {
  position: absolute;
  color: black;
  top: 14%;
  left: 38%;
}
.map__content__area_txt3 {
  position: absolute;
  color: black;
  top: 14%;
  left: 43%;
}
.map__content__area_txt4 {
  position: absolute;
  color: black;
  top: 14%;
  left: 48.3%;
}
.map__content__area_txt5 {
  position: absolute;
  color: black;
  top: 14%;
  left: 53.4%;
}
.map__content__area_txt6 {
  position: absolute;
  color: black;
  top: 14%;
  left: 58.6%;
}
.map__content__area_txt7 {
  position: absolute;
  color: black;
  top: 14%;
  left: 63.7%;
}
.map__content__area_txt8 {
  position: absolute;
  color: black;
  top: 43.2%;
  left: 51%;
}
.map__content__area_txt9 {
  position: absolute;
  color: black;
  top: 43.2%;
  left: 58.6%;
}
.map__content__area_txt10 {
  position: absolute;
  color: black;
  top: 43.2%;
  left: 63.6%;
}
.map__content__area_txt11 {
  position: absolute;
  color: black;
  top: 39.2%;
  left: 86.8%;
}
.map__content__area_txt12 {
  position: absolute;
  color: black;
  top: 47.7%;
  left: 88%;
}
.map__content__area_txt13 {
  position: absolute;
  color: black;
  top: 71%;
  left: 88%;
}
.map__content__area_txt14 {
  position: absolute;
  color: black;
  top: 14%;
  left: 28%;
}
.map__content__area_txt15 {
  position: absolute;
  color: black;
  top: 14%;
  left: 33%;
}
.map__content__area_txt16 {
  position: absolute;
  color: black;
  top: 14%;
  left: 38%;
}
.map__content__area_txt17 {
  position: absolute;
  color: black;
  top: 14%;
  left: 43%;
}
.map__content__area_txt18 {
  position: absolute;
  color: black;
  top: 14%;
  left: 51%;
}
.map__content__area_txt19 {
  position: absolute;
  color: black;
  top: 14%;
  left: 61%;
}
.map__content__area_txt20 {
  position: absolute;
  color: black;
  top: 43.2%;
  left: 28%;
}
.map__content__area_txt21 {
  position: absolute;
  color: black;
  top: 43.2%;
  left: 33%;
}
.map__content__area_txt22 {
  position: absolute;
  color: black;
  top: 43.2%;
  left: 38%;
}
.map__content__area_txt23 {
  position: absolute;
  color: black;
  top: 43.2%;
  left: 43%;
}
.map__content__area_txt24 {
  position: absolute;
  color: black;
  top: 43.2%;
  left: 51%;
}
.map__content__area_txt25 {
  position: absolute;
  color: black;
  top: 43.2%;
  left: 61%;
}
.map__content__area_txt26 {
  position: absolute;
  color: black;
  top: 39.2%;
  left: 86.8%;
}
.map__content__area_txt27 {
  position: absolute;
  color: black;
  top: 47.7%;
  left: 88%;
}
.map__content__area_txt28 {
  position: absolute;
  color: black;
  top: 75%;
  left: 75%;
}
.map__content__area_txt29 {
  position: absolute;
  color: black;
  top: 72%;
  left: 60%;
}
.map__content__area_txt30 {
  position: absolute;
  color: black;
  top: 51%;
  left: 15%;
}
.map__content__area_txt31 {
  position: absolute;
  color: black;
  top: 41%;
  left: 39%;
}
.map__content__area_txt32 {
  position: absolute;
  color: black;
  top: 50%;
  left: 43%;
}
.map__content__area_txt33 {
  position: absolute;
  color: black;
  top: 50%;
  left: 46%;
}
.map__content__area_txt34 {
  position: absolute;
  color: black;
  top: 61%;
  left: 79%;
}
.map__content__area_txt35 {
  position: absolute;
  color: black;
  top: 61%;
  left: 82%;
}
.map__content__area_txt {
  font-size: 15px;
}
.map__content__detail > p {
  font-size: 14px;
  margin-bottom: 5px;
}

@media screen and (max-width: 525px) {
  .map__content__area_txt {
    font-size: 11px;
  }
}/*# sourceMappingURL=map.css.map */